* {
    padding: 0;
    margin: 0;
    font-family: "SCR";
}

ol,ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

i {
    font-family: "NFR";
    font-style: normal;
}

::-webkit-scrollbar{
  display: none
}

body {
    min-width: 1000px;
}